<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<ng-container *ngIf="user | async; else login">
congrats You Logged in Without a Password!
<button (click)="firebase.auth().signOut()">Signout</button>
</ng-container>
<ng-template #login>
<div class="container"><h1>Welcome To Illumnus</h1>
<h3>To Login Kindly Enter Your Email Address</h3>
<input type ="email" [(ngModel)]="email">
<hr>
<button [disabled]="emailSent" (click)="sendEmailLink(email)">Get Login Link</button>
<hr></div>
<div *ngIf="emailSent">
	Email Sent
</div>
<div *ngIf="errorMessage">
{{ errorMessage }}</div>
</ng-template>


